{% extends 'dashboard/main.html' %}

{% block content %}
<section class="p-5">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input type="text" class="form-control" style="width: 300px;" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" style="width: 300px;" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if text %}
        <p style="color: red;">{{text}}</p>
    {% endif %}
{% endblock %}