{% extends 'base/main.html' %}

{% block content %}
  <div class="mt-5">
    <div class="row ">
      <div class="col-md-3">
        {% if cur_user %}
        <p><b>Welcome</b> @{{ cur_user }}</p>
        {% endif %}
          <div class="card" >
              <div class="card-header">
                Gallery
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">All Books</li>
                <li class="list-group-item">My Books</li>
                <li class="list-group-item">My Account</li>
                <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
              </ul>
            </div>
      </div>
      <div class="col-md-9">
        <div class="row">

            {% for ebook in ebooks %}
            <div class="col-md-4">
                <div class="card my-2">
                    <img class="image-thumbail" src="{{ebook.image.url}}" alt="Card image cap">

                    <div class="card-body">
                        <strong>Category: {{ebook.book}}</strong>
                        <div>
                          <small>Author: {{ebook.author}}</small>
                        </div>
                        <div >
                          <small>Price: {{ebook.price}}</small>
                        </div>
                    </div>
                    
                    
                    <a href="" class="btn btn-outline-dark btn-sm m-1">Buy Now</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
  </div>
{% endblock %}